<ion-view title="Pomodoro" id="page4" class="pomodoro-name">
  <ion-content padding="true" class="has-header">
    <h3>
      What are you working on?
    </h3>
    <h3>{{vm.test}}</h3>
    <form novalidate ng-submit="vm.form.submitName()">
      <input type="text" placeholder="Pomodoro Name" ng-model="vm.form.name" required>
      <button type="submit" class="button button-outline button-balanced button-full">
      pomdoro me
      </button>
    </form>
    <div class="pomodoro-images">
      <img ng-src="img/working2.png" alt="logo" class="working-img">
      <br>
      <img ng-src="img/arrow-down.png" alt="logo" class="arrow-down-img">
      <img ng-src="img/arrow-up.png" alt="logo" class="arrow-up-img">
      <br>
      <img ng-src="img/walking3.png" alt="logo" class="steps-img">
      <br>
      <img ng-src="img/phone2.png" alt="logo" class="phone-img">
      <br>
      <img ng-src="img/arrow-middle.png" alt="logo" class="arrow-middle-img">


    </div>
</ion-content>
</ion-view>
