<ion-view title="pomoforo-timer" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="tabsController.pomodoroBreak" id="pomoforoTimer-button2" class=" button button-positive  button-block ">time up</a>
    </ion-content>
</ion-view>