<ion-view title="Break" id="page7" class="timer-break">
    <ion-content padding="true" class="has-header">
      <h2>Time for a break.</h2>
      <h1>Take A Walk!</h1>
      <h3 ng-bind="vm.time"></h3>
<!--
      <p>{{vm.X}}</p>
      <p>{{vm.Y}}</p>
      <p>{{vm.Z}}</p>

      <p>{{vm.test}}</p>
      <p>{{vm.a}}</p>
      <p>{{vm.b}}</p>
      <p>{{vm.c}}</p> -->

      <p>_________________________________</p>
      <!-- <p>dot: {{vm.dot}}</p> -->
      <!-- <p>first: {{vm.a}}</p> -->
      <!-- <p>second: {{vm.b}}</p> -->
      <p>the engle: {{vm.dotEnd}}</p>
      <p>subtract: {{vm.test}}</p>


    </ion-content>
</ion-view>
