<ion-view title="pomodoro" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="pomodoro-heading2" style="color:#000000;" class=" ">What are you working on?</h3>
        <form id="pomodoro-form2" class="list ">
            <label class="item item-input " id="pomodoro-input2">
                <span class="input-label">pomodoro name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.pomoforoTimer" id="pomodoro-button1" class=" button button-positive  button-block ">get started</a>
    </ion-content>
</ion-view>