<ion-view title="Pomodoro in session" id="page6" class="work-timer">
    <ion-content padding="true" class="has-header">
      <h2 ng-bind="vm.pomodoroName"></h2>

      <round-progress
          max="vm.pomodoroLength"
          current="vm.time"
          responsive="true"
          color="#45ccce"
          bgcolor="#eaeaea"
          radius="100"
          stroke="20"
          rounded="true"
          clockwise="false"
          responsive="false"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="0">
          </round-progress>

        <h3 ng-bind="vm.time" class="changing-number"></h3>

    </ion-content>
</ion-view>
