<ion-view title="Pomodoro" id="page4" class="pomodoro-name">
  <ion-content padding="true" class="has-header">
    <h3>
      What are you working on?
    </h3>
    <form novalidate ng-submit="vm.form.submitName()">
      <input type="text" placeholder="Pomodoro Name" ng-model="vm.form.name" required>
      <button type="submit" class="button button-outline button-balanced button-full">
      Get Started
      </button>
    </form>

    <div class="pomodoro-images">
      <img src="img/steps.jpg" alt="steps">
    </div>

</ion-content>
</ion-view>
