<ion-view title="welcome" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="welcome-heading1" style="color:#000000;" class=" ">Welcome</h1>
        <p id="welcome-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
            Some friendly
            <strong>markdown</strong>
            Some friendly
            <strong>markdown</strong>
            Some friendly
            <strong>markdown</strong>
            Some friendly
            <strong>markdown</strong>
            Some friendly
            <strong>markdown</strong>
        </p>
    </ion-content>
</ion-view>