<ion-view title="Welcome" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
      <h4>
        Let's get more out of your time
      </h4>

      <ul>
        <li>Each session is 25 minutes.</li>
        <li>Take a walk (seriously, take a walk).</li>
        <li>Come back for your next pomodoro.</li>
        <li>After 4 pomodoros, take a long break.</li>
      </ul>

      <!-- <a ui-sref="tabsController.pomodoro" id="pomodoro-button1" class="button button-outline button-balanced button-full">
        get started</a> -->
    </ion-content>
</ion-view>
