@import "pomodoro/variables.scss";

.custom-icon, .bar.bar-stable .title {
  color: $icons;
}

body, button, input, h1, h2, h3, h4 {
font-family: 'Josefin Sans', sans-serif !important;
font-weight: 500;
}

ul li {
  font-size: 19px;
}

input[type="text"], button{
  font-size: 19px !important; 
}
