@import "pomodoro/variables.scss";

.custom-icon, .bar.bar-stable .title {
  color: white;
  background-color: $icons;
  font-size: 18px;
  margin: 0px;
}

body, button, input, h1, h2, h3, h4 {
font-family: 'Josefin Sans', sans-serif !important;
font-weight: 500;
}


input[type="text"], button{
  font-size: 19px !important;
}

button {
  color: $icons !important;
  border-color: $icons !important;
}

button:active, button:focus {
  color: white !important;
  background-color: $icons !important;
}
