@import "pomodoro/variables.scss";

.pomodoro-name {
  h3{
    text-align: center;
  }
  input {
    text-align: center;
    width: 100%;
  }

  img {
    height: 400px;
    padding-right: 20px;
  }
  .pomodoro-images {
    margin-top: 10px;
  }

}
