@import "pomodoro/variables.scss";

.pomodoro-name {
  h3{
    text-align: center;
  }
  input {
    text-align: center;
    width: 100%;
  }
  img {
    height: 80px;
  }
  .pomodoro-images {
    margin-top: 10px;
  }
  .working-img {
    margin-left: 90px;
    margin-bottom: 0px;
  }
  .arrow-down-img {
    height: 50px;
    margin-left: 190px;
    transform: rotate(10deg);
  }
  .steps-img {
    margin-left: 190px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .arrow-up-img {
    height: 50px;
    margin-left: 40px;
    margin-top: -110px;
    top: -10px;
    transform: rotate(240deg);
  }
  .arrow-middle-img {
    height: 50px;
    transform: rotate(130deg);
    margin-left: 130px;
    margin-top: -30px;
  }
  .phone-img {
    height: 70px;
    margin-left: 50px;
    margin-top: -120px;
  }
}
