@import "pomodoro/variables.scss";

.pomodoro-name {

  button {
    top: 40px !important;
  }

  img {
    height: 80px;
  }
  .pomodoro-images {
    margin-top: 50px;
  }
  .working-img {
    margin-left: 120px;
  }
  .arrow-down-img {
    height: 50px;
    margin-left: 220px;
    transform: rotate(10deg);
  }
  .steps-img {
    margin-left: 240px;
  }
  .arrow-up-img {
    height: 50px;
    margin-left: 50px;
    margin-top: -100px;
    transform: rotate(250deg);
  }
  .arrow-middle-img {
    height: 50px;
    transform: rotate(140deg);
    margin-left: 140px;
  }
  .phone-img {
    height: 70px;
    margin-left: 70px;
    margin-top: -100px;
  }
}
