@import "pomodoro/variables.scss";

.work-timer{
  text-align: center;

  h3 {
    margin-top: -140px;
    font-size: 60px;
  }

  h2 {
    margin-bottom: 70px;
  }

}


.timer-break {
  text-align: center;

  h3 {
    margin-top: -140px;
    font-size: 60px;
  }

  h2 {
    margin-bottom: 70px;
  }
  .walking-gif {
    margin-top: 100px;
    width: 300px;
  }

}
